#titulo{font-size: 110px; margin: 20px;	margin-bottom: 60px;}
#subtitulo{	margin-left: 30px;}
#kinect{ margin: 30px; margin-left:350px; margin-top: 300px;}
.tituloStep{ font-size: 77px;}
.miSlide p {font-size: 30px;}
.miSlide ul {list-style-type: circle; margin-left: 80px;}
.miSlide h2 {font-weight: bold;}
.smallUl { font-size: 30px; }
.note{font-size: 18px; float:right; margin-top: 100px;}